body {
  background-color: lightsteelblue;
  background-image: url("./resources/main.png");
  text-align: center;
  font-family: Verdana;
  color: darkseagreen;
}

ul {
  list-style: none;
  padding-left: 0;
}
