body {
  background-color: lightsteelblue;
  background-image: url("../resources/main.png");
  text-align: center;
  font-family: Verdana;
  color: darkslateblue;
}

ul {
  list-style: none;
  padding-left: 0;
}
