* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.color {
  height: 90px;
  width: 160px;
}

/* Colors */
#teal {
  background-color: teal;
}

#mediumturquoise {
  background-color: mediumturquoise;
}

#turquoise {
  background-color: turquoise;
}

#darkturquoise {
  background-color: darkturquoise;
}

#paleturquoise {
  background-color: paleturquoise;
}

#khaki {
  background-color: khaki;
}

#olivedrab {
  background-color: olivedrab;
}

#burlywood {
  background-color: burlywood;
}

#darksalmon {
  background-color: darksalmon;
}

#lightcoral {
  background-color: lightcoral;
}

#cornflowerblue {
  background-color: cornflowerblue;
}

#lightsteelblue {
  background-color: lightsteelblue;
}

#lightgoldenrodyellow {
  background-color: lightgoldenrodyellow;
}

#darkkhaki {
  background-color: darkkhaki;
}

#rebeccapurple {
  background-color: rebeccapurple;
}

#mediumpurple {
  background-color: mediumpurple;
}

#seagreen {
  background-color: seagreen;
}

#mediumseagreen {
  background-color: mediumseagreen;
}

#peru {
  background-color: peru;
}

#indigo {
  background-color: indigo;
}

#blueviolet {
  background-color: blueviolet;
}

#deeppink {
  background-color: deeppink;
}

#mediumvioletred {
  background-color: mediumvioletred;
}

#lime {
  background-color: lime;
}

#mediumspringgreen {
  background-color: mediumspringgreen;
}

#deepskyblue {
  background-color: deepskyblue;
}

#orangered {
  background-color: orangered;
}

#darkorange {
  background-color: darkorange;
}

#chartreuse {
  background-color: chartreuse;
}

#red {
  background-color: red;
}

#darkred {
  background-color: darkred;
}

#cyan {
  background-color: cyan;
}
